@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
}

.container {
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.171);
}

h1 {
    margin-bottom: 20px;
}

.data-section {
    background-color: rgb(253, 253, 253);
    padding: 20px;
    border-radius: 12px;
}

h3.title {
    /* text-decoration: underline; */
    color: #4e4e4e;
    margin-bottom: 15px;
    font-size: 22px;
}

form {
    display: grid;
    row-gap: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

label p {
    font-size: 18px;
    margin-bottom: 8.3px;
}

input {
    font-size: 1rem;
    font-weight: 400;
    line-height: inherit;
    width: 100%;
    height: 47px;
    padding: 0.75rem 1.25rem;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 2rem;
    color: rgb(48, 48, 48);
    background-color: rgb(233, 233, 233);
}

input::placeholder {
    color: rgb(105, 105, 105);
    font-size: 15px;
    font-style: italic;
}

input:focus {
    border: 2px solid rgb(99, 99, 99);
}

/* Foto do estudante */

.bg-foto {
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    width: 165px;
    height: 165px;
    background: url('../img/image-user.png') no-repeat center center;
    background-size: cover;
}

#profileImage{
    display: none; 
    width: 163px; 
    height: 163px; 
    border-radius: 50%;
    border: none;
}

.input-photo {
    /* background-color: hsl(0, 100%, 60%); */
    border-radius: 20px;
    margin: 0px auto 12px;
    display: grid;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
}

#studentPhoto {
    display: none;
    /* Oculta o input padrão */
}

/* Upload Student photo */

.btn {
    cursor: pointer;
    position: relative;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.096);
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn::after {
    background-color: #fff;
}

#submit::after {
    background-color: #000000;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

/* Finish */

#profileImage {
    display: block;
    margin: 20px auto;
    border: 2px solid #ddd;
}

/* Finish */

#age-pai,
#age-mae {
    width: 110px;
}

.age-profs {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

#prof-pai{
    flex-basis: 300px;
}

div.grade {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 7px;
}

.grade-title {
    padding-top: 18px;
}

select {
    font-size: 1rem;
    font-weight: 400;
    line-height: inherit;
    width: 90%;
    height: 47px;
    padding: 0.75rem 1.25rem;
    border: none;
    outline: none;
    border-radius: 2rem;
    color: rgb(48, 48, 48);
    background-color: rgb(228, 228, 228);
}

select:focus {
    border: 2px solid rgb(99, 99, 99);
}

div.informs {
    margin-bottom: 20px;
}

.courseList{
    display: none;
}

.change {
    text-align: center;
}

a:link {
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 11, 170);
    cursor: pointer;
}

a:active {
    color: rgb(0, 11, 170);
}

#submit {
    cursor: pointer;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    width: 100%;
    height: 47px;
    padding: 0.75rem 1.25rem;
    border: none;
    outline: none;
    border-radius: 2rem;
    color: rgb(48, 48, 48);
    background-color: rgb(15, 12, 12);
    background-color: rgb(0, 218, 152);
}

#submit:hover {
    background-color: rgb(1, 173, 116);
    color: white;
    transition: .5s;
}

/* ----------Loader----------- */
.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.loader {
    width: 20px;
    height: 40px;
    border-radius: 10px 50px;
    box-shadow: 0px 0px 5px black;
    animation: dominos 1s ease infinite;
}

.loader:nth-child(1) {
    --left: 80px;
    animation-delay: 0.325s;
    background-color: #042940;
}

.loader:nth-child(2) {
    --left: 70px;
    animation-delay: 0.5s;
    background-color: #005C53;
}

.loader:nth-child(3) {
    left: 60px;
    animation-delay: 0.625s;
    background-color: #9FC131;
}

.loader:nth-child(4) {
    animation-delay: 0.74s;
    left: 50px;
    background-color: #DBF227;
}

.loader:nth-child(5) {
    animation-delay: 0.865s;
    left: 40px;
    background-color: #D6D58E;
}

@keyframes dominos {
    50% {
        opacity: 0.7;
    }

    75% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    80% {
        opacity: 1;
    }
}
/* -----------Cartão de propina para Celular---------- */
.notifications-container {
    width: 320px;
    height: auto;
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.flex {
    display: flex;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.success {
    display: none;
    line-height: 22px;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: 0.375rem;
    background-color: rgb(203, 255, 219);
}

.succes-svg {
    color: rgb(74 222 128);
    width: 1.25rem;
    height: 1.25rem;
}

.success-prompt-wrap {
    margin-left: 0.75rem;
}

.success-prompt-heading {
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(22 101 52);
}

.success-prompt-prompt {
    margin-top: 0.5rem;
    color: rgb(21 128 61);
}

.success-prompt {
    color: rgb(21 128 61);
    font-size: 16px;
}

.studentData {
    font-weight: bold;
}

.success-button-container {
    display: flex;
    margin-top: 0.875rem;
    margin-bottom: -0.375rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.success-button-main {
    margin-left: 92px;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #a6f3cf;
    color: rgb(22 101 52);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
    border-radius: 0.375rem;
    border: none
}

.success-button-main:hover {
    background-color: #67ffb0;
    transition: .5s;
}

.success-button-secondary {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 0.75rem;
    background-color: #ECFDF5;
    color: #065F46;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 0.375rem;
    border: none;
}

/* -----------Cartão de propina para Tablets, Pcs, ...---------- */
#card-student {
    display: flex;
    align-items: center;
    padding: 10px 9px;
    background-color: rgb(255, 189, 189);
    width: 568px;
    margin: auto;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.267);

    transform: rotateY(0deg);
}

.school-name {
    font-weight: bold;
}

.lema {
    color: rgb(163, 0, 0);
    font-weight: bold;
}

.border {
    border: 1px solid black;
    padding: 13px 15px;
}

.school-header {
    display: flex;
    gap: 12px;
}

.card-propina {
    text-align: center;
    font-size: 20px;
    margin: 12px 0;
}

#foto-student {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 145px;
    height: 165px;
}

#header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.title {
    font-size: 20px;
}

.bold {
    font-weight: 500;
}

.data-card {
    display: flex;
    align-items: center;
    gap: 10px;
}

.data {
    display: grid;
    row-gap: 8px;
}

.content {
    font-weight: 500;
    font-size: 22px;
    color: rgb(0, 0, 104);
}

.nameCard {
    color: rgb(163, 0, 0);
}

.line {
    border-bottom: 1px solid black;
    width: 100%;
}

.data-flex {
    display: flex;
    justify-content: space-between;
}

/* -----------Propinas---------- */

#card-propina{
    padding: 10px;
    background-color: rgb(255, 189, 189);
    width: 568px;
    margin: auto;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.267);

    transform: rotateY(180deg);
}

.border-mes{
    padding: 25px 10px;
    border: 1px solid black;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.month{
    padding: 7px 2px;
    border: 1px solid black;
    text-align: center;
    display: grid;
    row-gap: 10px;
}

.mes{
    text-transform: uppercase;
    font-weight: bold;
}

.dotted{
    border-bottom: 1px dotted black;

    margin: 10px;
}

/* ---------------Rotação do cartão------------------ */
.card {
    display: none;
    position: absolute;
    top: 7%;
    left: 50%;

    transform: translateX(-50%);
    width: 568px;
    height: 390px;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

#card-student,
#card-propina {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* Media Queries */
/* Tablets */
@media (min-width: 767px) {
    .bg-foto {
        width: 187px;
        height: 187px;
    }
    
    #profileImage{
        width: 184px; 
        height: 184px;
        border: none;
    }

    .grid {
        display: grid;
        column-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    label p {
        font-size: 22px;
        margin-bottom: 8.3px;
    }

    input::placeholder {
        font-size: 17px;
    }

    select {
        font-size: 18px;
    }
}

/* Computadores e telas grande*/
@media (min-width: 1024px) {
    .container{
        padding: 15px 180px;
    }
}